<header class="grid items-center bg-mark ">
  <div class="grid grid-rows-2 gap-y-2 items-center w-full  px-10 py-4  h-full
  tablet:h-44 tablet:grid-cols-[200px,1fr] tablet:grid-rows-1 tablet:gap-y-0
  laptop:w-full laptop:justify-self-center laptop:justify-items-center laptop:max-w-5xl">
    <div class="grid grid-cols-1 items-center justify-items-center  w-full laptop:max-w-l">
      <img class='h-24 min-w-20 tablet:h-32' src="assets/imgs/logo.png" alt="">
    </div>
    <div class="grid justify-items-center text-center w-full gap-y-2
    tablet:items-center
    laptop:justify-items-center ">
      <h1
        class="font-arima font-semibold text-white drop-shadow-lg w-full shadow-black text-5xl tablet:text-5xl shadowed">
        CATÁLOGO</h1>
      <h3
        class="font-wide font-semibold text-white bg-black w-full grid justify-items-center text-2xl bg-dark text-md tablet:text-xl">
        MAYORISTA</h3>
    </div>
  </div>
</header>
