<div class="font-inter font-semibold text-xl text-white text-center bg-dark px-5 py-0.5 laptop:text-2xl">Condiciones</div>
<ul class="px-5 py-1 laptop:text-center laptop:py-2">
  <li class="font-inter font-medium text-md laptop:text-lg">
    Los precios son por litro
  </li>
  <li class="font-inter font-medium text-md laptop:text-lg">
    Mínimo 20 litros (Total surtido a elección) en sueltos
  </li>
  <li class="font-inter font-medium text-md laptop:text-lg">
    Y 6 unidades para los Artículos de limpieza
  </li>
  <li class="font-inter font-medium text-md laptop:text-lg">
    Bidón 5 litros: $130 (Son reutilizables)
  </li>
</ul>
